<div class="box tabular">
  <h2><%= list_chart_list.name %></h2>
  <div>
  <iframe src="<%= "/time_trackers/chart/#{list_chart_list.id}/#{report_start_date}/#{report_end_date}"  %>" width = "650px" height="450px" scrollbars="no" frameborder="0" name="brands"></iframe>
  </div>
</div>