   <table id="rounded-corner" summary="Users Manager">
    <thead>
    	<tr>
        	<th scope="col" class="rounded-company">No.</th>
            <th scope="col" class="rounded-q1">Id</th>
            <th scope="col" class="rounded-q2">Fullname</th>
            <th scope="col" class="rounded-q3">Username</th>
            <th scope="col" class="rounded-q4"></th>
        </tr>
    </thead>
    <tbody id="loadsearch">
	  <%= render :partial => "userList", :collection => @users %>
    </tbody>
	<tfoot>
    	<tr>
        	<td colspan="2" class="rounded-foot-left">
			  <em><%= link_to image_tag("add.png", :size => "15x15", :alt => "add") << " Add User", "/users/new"%></em>
			</td>
			<td>&nbsp;</td>
			<td colspan="2" class="rounded-foot-right">
			  <label>Username : </label><input id="searchbox" type="text" />
			</td>
        </tr>
    </tfoot>
</table>