
<br />
  <p>
    <%= text_field_tag :title %>
  </p>
  <%= button_tag(:type => 'button',:id => 'search') do
        content_tag(:strong, 'Search')
      end %>
<div id="result">

</div>
<%= link_to 'Back', uri("/blogs") %>