<div id="mainPicture">
  <div class="picture">
	  <div id="headerTitle">Demo Use ROR to Manager Users</div>
	  <div id="headerSubtext">
		Create by Luong.Phuc@mulodo.com
	  </div>
	  <% if (require_getinfo != false) %>
		<div class="topNaviagationLink_right">Wellcome <%= require_getinfo %> (<%= link_to 'Logout', "/logout" %>)</div>
	  <% end %>
  </div>
</div>