<div id="page">
  <div class="topNaviagationLink"><%= link_to 'Home', "/top/index" %></div>
  <div class="topNaviagationLink"><%= link_to 'Users', "/users" %></div>
  <div class="topNaviagationLink"><%= link_to 'Create Users', "/users/new" %></div>
  <div class="topNaviagationLink"><%= link_to 'Blogs', "/blogs" %></div>
</div>