<div id="page">
  <div class="topNaviagationLink"><%= link_to 'Home', uri("/top/index") %></div>
  <div class="topNaviagationLink"><%= link_to 'Users', uri("/users") %></div>
  <div class="topNaviagationLink"><%= link_to 'Create Users', uri("/users/new") %></div>
  <div class="topNaviagationLink"><%= link_to 'Blogs', uri("/blogs") %></div>
</div>